.row{
	margin: 0;
}


.model *{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modal.left .modal-dialog,
.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	width: 320px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	    -ms-transform: translate3d(0%, 0, 0);
	     -o-transform: translate3d(0%, 0, 0);
	        transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
	padding: 15px 15px 80px;
}
    
/*Right*/
.modal.right.fade .modal-dialog {
	right: -320px;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
	   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
	     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
	        transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
	right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
	border-bottom-color: #EEEEEE;
	background-color: #FAFAFA;
}

.modal-header .modal-title {
	line-height: 1px;
}

.modal-header .close {
	padding: 0;
	margin: 0;
}

.allocate-button, .access-button, .delete-button {
	display: none;
	opacity: 0;
	visibility: hidden;
	height: 0;
	width: 0;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
    min-height: 16.43px;
	padding: 22px;
	border-bottom: 1px solid #e5e5e5;
}
body {    
	padding: 40px;
}
#defaultCanvas0 {
    width: 1353px;
    margin-top: 70px;
}
.all-form {
    width: 385px;
    border: 1px solid black;    
	padding: 21px;    
	border-radius: 32px;
	margin-right: 18px;
}

#inodesText {
	position: absolute;
    margin-top: 40px;
}

#hardDiskText {
	margin-left: 570px;
}

.hint{
	font-size: 13px;
}

.file-info{

}
.file-info legend{
	font-size: 16px;
}
.file-info .form-group p{
    line-height: 23px;
    margin-bottom: 0;
}


.system_info p span big{
	font-size: 15px;
}


.chart {
  position: absolute;
  width: 150px;
  height: 150px;
}
.pieTip {
  position: absolute;
  float: left;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 18px 6px;
  border-radius: 2px;
  background: rgba(255,255,255,.97);
  color: #444;
  font-size: 15px;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 0 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.5);
  -webkit-transform: all .3s;
     -moz-transform: all .3s;
      -ms-transform: all .3s;
       -o-transform: all .3s;
          transform: all .3s;
  pointer-events: none;
}
.pieTip:after {
      position: absolute;
      left: 50%;
      bottom: -6px;
      content: "";
      height: 0;
      margin: 0 0 0 -6px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 6px solid rgba(255,255,255,.95);
      line-height: 0;
}
.chart path { cursor: pointer; }